:host {
  display: block;

  label {
    text-transform: uppercase;
    display: block;
    margin-top: 1rem;
    font-size: 0.8rem;

    &[for=name] {
      margin-top: 0;
    }
  }

  input,textarea {
    font-weight: bold;
    border-bottom: 2px solid #ccc;
    padding: 4px 0 4px 4px;
    font-family: Lato, Helvetica, Arial, sans-serif;
    width: calc(100% - 20px);
    margin: 0 20px 0 0;
    background-color: #eee;

    &#name {
      font-size: 2rem;
    }

    &.ng-invalid {
      border-color: #FF4136;
    }

    &:focus {
      border-color: #39CCCC;
    }

    &.touchinputactive{
      border-color: #39CCCC;
      background-color: #777;
    }
  }

  textarea{
    width: calc(50% - 3rem - 20px);
    line-height: 1.5rem;
    padding: 4px 0 4px 4px;
  }


  #myCanvas{
    width: calc(50% - 20px);
    // height: calc(50% - 20px);
  }

  input[name=phone]{
    width: calc(50% + 3rem - 20px);
  }
  .plate{
    // width: calc(100% - 20px - 3rem);
    margin-right: 20px;
    height: 1px;
    background-color: gray;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(255,255,255,.5) 10px, rgba(255,255,255,.5) 20px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .drilling{
    background-color: white;
    width: 30px;
    align-self: flex-start;
  }

  .numpad {
    position: absolute;
    bottom:0px;
    width: 260px;
    background-color: #DBEFF4;
    border-radius: 5px;
  }

  .numpad li {
    font-size: 22px;
    float: left;
    list-style: none;
    text-align: center;
    height: 40px;
    padding-top: 15px;
    width: 33.33%;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .row {
    display: flex;
    flex-direction: row;

    > * {
      flex: 1;
    }
  }

  .error_notice {
    background-color: #FF4136;
    color: white;
    padding: .5rem 1rem;
    margin: 0 0 1rem 0;
  }

  .error_message {
    color: #FF4136;
    margin-top: .2rem;
  }

  &.disabled {
    .form-inputs {
      opacity: 0.3;
    }
  }
}
