<form #contactForm="ngForm" novalidate (ngSubmit)="$onSubmit()">
  <ng-content select="app-contact-form-header"></ng-content>

  <div *ngIf="name.errors && (name.dirty || name.touched)" class="error_notice">
    <div [hidden]="!name.errors.required">
      You can’t save a contact like this!
    </div>
  </div>

  <div>
    <label for="name">Full Name</label>
    <input type="text"
      autocomplete="off"
      id="name"
      class="h1"
      name="name"
      placeholder="e.g. Mad Hatter"
      required
      [(ngModel)]="model.name"
      (ngModelChange)="$onChange()"
      [disabled]="formDisabled"
      #name="ngModel" />

    <div *ngIf="name.errors && (name.dirty || name.touched)" class="error_message">
      <div [hidden]="!name.errors.required">
        Please enter a name
      </div>
    </div>
  </div>

  <div class="row">
    <div>
      <label for="email">Email</label>
      <input type="email"
        name="email"
        placeholder="e.g. mad.hatter@wonderland.biz"
        [(ngModel)]="model.email"
        (ngModelChange)="$onChange()"
        [disabled]="formDisabled"/>
    </div>
    <div>
      <label for="phone">Phone</label>
      <input type="text"
        name="phone"
        placeholder="e.g. +49 89 2154 3924"
        [(ngModel)]="model.phone"
        (ngModelChange)="$onChange()"
        [disabled]="formDisabled"/>
    </div>
  </div>

  <ng-content select="app-contact-form-footer"></ng-content>
</form>
