<form #contactForm="ngForm" novalidate (ngSubmit)="$onSubmit()">
  <ng-content select="app-contact-form-header"></ng-content>

  <div *ngIf="name.errors && (name.dirty || name.touched)" class="error_notice">
    <div [hidden]="!name.errors.required">
      You can’t save a contact like this!
    </div>
  </div>

  <div class="form-inputs">
    <div>
      <label for="name">Job Name</label>
      <input type="text"
        autocomplete="off"
        id="name"
        class="h1"
        name="name"
        placeholder="e.g. Milling Car Wing ab12"
        required
        [(ngModel)]="model.name"
        (ngModelChange)="$onChange()"
        [disabled]="formDisabled"
        #name="ngModel" />

      <div *ngIf="name.errors && (name.dirty || name.touched)" class="error_message">
        <div [hidden]="!name.errors.required">
          Please enter a name
        </div>
      </div>
    </div>

    <div>
      <label for="email">G-Code/Heidenhain</label>
      <div class="row">

        <textarea type="text"
          name="email"
          placeholder="e.g. L X+100 Y+100 R0 FMAX"
          rows="15"
          [(ngModel)]="model.email"
          (ngModelChange)="$onChange()"
          [disabled]="formDisabled"></textarea>
          <canvas id="myCanvas" [hidden]="!showGraph"></canvas>
        </div>
    </div>

    <div>
      <label for="phone">Anzahl der Objektrotationen</label>
      <input type="text"
        name="phone"
        placeholder="e.g. 48"
        [(ngModel)]="model.phone"
        (ngModelChange)="$onChange()"
        [disabled]="formDisabled"/>
    </div>
  </div>

  <ng-content select="app-contact-form-footer"></ng-content>
</form>
