<h1>CNC Jobs <button class="creative" routerLink="/home/new">new</button></h1>

<p *ngIf="noContact">Bisher keine CNC Jobs vorhanden.</p>

<ul *ngIf="!noContact">
  <li
    *ngFor="let contact of contacts; trackBy: trackById"
    [@flyInOut]="contact.isDeleted?'out':'in'"
    [appAirport]="'contact-airport-' + contact.id"
    [birdClass]="'export-bird'"
    landingStripPlacement="left middle"
    [ngClass]="{
      updating: contact.uiState.isBeingCreated || contact.uiState.isBeingUnremoved || contact.uiState.isUpdating,
      deleting: contact.uiState.isBeingRemoved,
      error: contact.uiState.updateError
    }">
    <a routerLink="/home/contact/{{contact.id}}" routerLinkActive="active">
      {{contact.name}}
      <span class="unsaved" *ngIf="contact.uiState.updateError">(ungespeichert)</span>
      <span class="modified"
        *ngIf="contact.uiState.localModifications && !contact.uiState.updateError && !contact.uiState.isUpdating"
      >(ungespeichert)</span>
      <span class="saving" *ngIf="contact.uiState.isUpdating">(speichere …)</span>
      <span class="creating" *ngIf="contact.uiState.isBeingCreated">(erstelle …)</span>
      <span class="restoring" *ngIf="contact.uiState.isBeingUnremoved">(stelle wieder her …)</span>
      <span class="deleting" *ngIf="contact.uiState.isBeingRemoved">(lösche …)</span>
    </a>
  </li>
</ul>

<a href="https://interfacewerk.de" class="interfacewerk"></a>


<!--<h1>Groups</h1>

<div #loadingPlaceholderGroups class="loadingPlaceholder">
  <div class="loading-line loading-inline"></div>
  <div class="loading-line loading-inline"></div>
  <div class="loading-line loading-inline"></div>
  <div>
    <div class="loading-button loading-inline"></div>
  </div>
</div>

<ul>
  <li
    *ngFor="let group of groups"
    appAirport="{{'group-' + group.id}}"
    [birdClass]="'group-bird'">
    {{group.name}} {{group.contactIds.length}}
  </li>
</ul>-->

<!--<app-export-button></app-export-button>-->
