<h1>Contacts</h1>

<div #loadingPlaceholderContacts class="loadingPlaceholder">
  <div class="loading-line loading-inline"></div>
  <div class="loading-line loading-inline"></div>
  <div class="loading-line loading-inline"></div>
  <div>
    <div class="loading-button loading-inline"></div>
  </div>
</div>

<p *ngIf="noContact">No contacts yet! Add some!</p>

<ul *ngIf="!noContact">
  <li
    *ngFor="let contact of contacts"
    [ngClass]="{creating: contact.uiState.isBeingCreated || contact.uiState.isBeingUnremoved || contact.uiState.isUpdating, deleting: contact.uiState.isBeingRemoved}">
    <a routerLink="/home/contact/{{contact.id}}">{{contact.name}}</a>
    <span *ngIf="contact.uiState.isUpdating">Saving …</span>
    <span *ngIf="contact.uiState.isBeingCreated">Creating …</span>
    <span *ngIf="contact.uiState.isBeingUnremoved">Restoring …</span>
    <span *ngIf="contact.uiState.isBeingRemoved">Deleting …</span>
  </li>
</ul>

<button class="creative" routerLink="/home/new">new</button>

<!--<h1>Groups</h1>

<div #loadingPlaceholderGroups class="loadingPlaceholder">
  <div class="loading-line loading-inline"></div>
  <div class="loading-line loading-inline"></div>
  <div class="loading-line loading-inline"></div>
  <div>
    <div class="loading-button loading-inline"></div>
  </div>
</div>

<ul>
  <li
    *ngFor="let group of groups"
    appAirport="{{'group-' + group.id}}"
    [birdClass]="'group-bird'">
    {{group.name}} {{group.contactIds.length}}
  </li>
</ul>-->

<app-export-button></app-export-button>
