:host {
  h1 {
    button {
      position: relative;
      top: -9px;
      right: -9px;
    }
  }

  &>ul {
    margin: 0 0 30px 0;
    padding: 0;

    li {
      padding: 0;
      margin: 0;
      list-style: none;

      a {
        margin: 0 -1rem;
        padding: 0 1rem;
        display: block;
        width: 100%;
        height: 30px;
        line-height: 30px;
        text-decoration: none;

        &:hover {
          background-color: #ddd;
        }

        &.active {
          background-color: #fff;
        }

        span {
          &.unsaved, &.deleting {
            color: #FF4136;
            animation-name: bounce;
            animation-duration: 0.7s;
            transform-origin: 0 0;
          }

          &.modified {
            color: #ff9b1c;
          }

          &.saving, &.creating, &.restoring {
            color: #39CCCC;
          }

        }
      }
    }
  }

  .loading-line{
    background-color: #DFDFDF;
    height: 10px;
    border-radius: 5px;
    margin: 10px 0;
    width: 50%;
  }

  .loading-inline{
    display: inline-block;
  }

  .loading-high{
    height: 30px;
    border-radius: 15px;
  }

  .loading-button{
    background-color: #B6B6B6;
    height: 20px;
    border-radius: 5px;
    margin: 10px 10px 10px 0;
    width: 50px;
  }

  .interfacewerk{
    position: absolute;
    bottom: 10px;
    left: 0px;
    width: 200px;
    height: 80px;
    background-image: url('/assets/interfacewerk.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@keyframes bounce {
  0%   {transform: scale(1);}
  50%  {transform: scale(1.5);}
  100% {transform: scale(1);}
}
