<h1>Contacts</h1>

<p *ngIf="noContact">No contacts yet! Add some!</p>

<ul *ngIf="!noContact">
  <li
    *ngFor="let contact of contacts"
    [ngClass]="{creating: contact.uiState.isBeingCreated || contact.uiState.isBeingUnremoved, deleting: contact.uiState.isBeingRemoved}">
    <a routerLink="/home/contact/{{contact.id}}">{{contact.name}}</a>
    <span *ngIf="contact.uiState.isBeingCreated">Creating …</span>
    <span *ngIf="contact.uiState.isBeingUnremoved">Restoring …</span>
    <span *ngIf="contact.uiState.isBeingRemoved">Deleting …</span>
  </li>
</ul>

<button class="creative" routerLink="/home/new">new</button>

<app-export-button></app-export-button>
