:host {
  width: 100%;
  height: 100%;

	app-contact-form-footer{
	  display: flex;
    margin-top: 2rem;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;

    span {
      color: #aaa;
    }
	}

  .notice {
    background-color: #ddd;
    color: #333;
    padding: 1rem;
    border-radius: 3px;

    &.warning {
      color: #FF4136;
      background: fade-out(#FF4136, 0.9);
    }
  }

  #loading-indicator {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .loading-line{
    background-color: #DFDFDF;
    height: 10px;
    border-radius: 5px;
    margin: 10px 0;
    width: 50%;
  }

  .loading-inline{
    display: inline-block;
  }

  .loading-high{
    height: 30px;
    border-radius: 15px;
  }

  .loading-button{
    background-color: #B6B6B6;
    height: 20px;
    border-radius: 5px;
    margin: 10px 10px 10px 0;
    width: 50px;
  }
}
