:host {
	app-contact-form-footer{
	  display: block;
    margin-top: 2rem;
	}
  .loading-line{
    background-color: #DFDFDF;
    height: 10px;
    border-radius: 5px;
    margin: 10px 0;
    width: 50%;
  }

  .loading-inline{
    display: inline-block;
  }

  .loading-high{
    height: 30px;
    border-radius: 15px;
  }

  .loading-button{
    background-color: #B6B6B6;
    height: 20px;
    border-radius: 5px;
    margin: 10px 10px 10px 0;
    width: 50px;
  }
}
