* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	font-size: 1rem;
}

html, body {
	height: 100%;
}

body {
	font-family: Lato, Helvetica, Arial, sans-serif;
	font-size: 16px;
}

h1 {
	font-size: 2rem;
	margin: 1rem 0;
}

h2 {
	font-size: 1.5rem;
	margin: 1rem 0;
}

p, ul, ol {
	margin: 0 0 1rem 0;
}

li {
	margin: 0 0 0 1.5rem;
	padding: 0.2rem 0;
}

button {
	background: #39CCCC;
	color: white;
	padding: 0.3rem 0.6rem;
	border-radius: 3px;
	box-shadow: 0px 2px 0px #009999;
	text-transform: uppercase;
	cursor: pointer;
}

button:hover {
	background: #49DDDD;
}

button:active {
	position: relative;
	top: 2px;
	box-shadow: none;
}

button:disabled {
	background: #ccc !important;
	color: #555 !important;
	box-shadow: 0px 2px 0px #ccc !important;
	cursor: not-allowed !important;
}

button.utility {
	background: #0074D9;
	box-shadow: 0px 2px 0px #0054B9;
}

button.utility:hover {
	background: #0094F9;
}

button.destructive {
	background: #FF4136;
	box-shadow: 0px 2px 0px #dF2116;
}

button.destructive:hover {
	background: #FF6156;
}

.bird {
	position: fixed;
	z-index: 11;
	transform: scale(1) transform(-50%, -50%);
	transition: left 0.5s ease-in, top 0.5s ease-out, transform 0.5s;

	&.flying {
		transform: scale(0.5) transform(-50%, -50%);
	}
}

.airport {
	position: fixed;
	z-index: 10;
}

.group-bird, .export-bird {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background: #0074D9;
	color: white;

	&::before {
		content: '+1';
		position: absolute;
		width: 100%;
		height: 100%;
		line-height: 30px;
		font-size: 10px;
		top: 0;
		left: 0;
		text-align: center;
	}
}

a {
	color: #0074D9;
	text-decoration: underline;
}

a:hover {
	color: #39CCCC;
	text-decoration: none;
}

#loading-app-placeholder {
  display: flex;
  flex-direction: row;
  height: 100%;

  aside {
    flex: 1 1 30%;
    background: #eee;
    padding: 1rem;
    overflow: auto;
  }

  main {
    flex: 1 1 70%;
    padding: 1rem;
  }
}

.loading-line{
  background-color: #DFDFDF;
  height: 10px;
  border-radius: 3px;
  margin: 10px 0;
  width: 50%;
}

.loading-inline{
  display: inline-block;
}

.loading-high{
  height: 30px;
  width: 70%;
  border-radius: 3px;
}

.loading-button{
  background-color: #B6B6B6;
  height: 20px;
  border-radius: 5px;
  margin: 10px 10px 10px 0;
  width: 50px;
}

/* LOADING */
.loading {
	position: relative;
	color: transparent;

	&::before {
		color: transparent;
	}

	&::after {
		content: '';
		position: absolute;
		display: block;
		width: 20px;
		height: 20px;
		top: 50%;
		left: 50%;
		margin-left: -10px;
		margin-top: -10px;
		border-radius: 10px;
		box-shadow: 0 1px 0 0 #39CCCC;
		-ms-animation: ring 1s linear infinite;
		-moz-animation: ring 1s linear infinite;
		-webkit-animation: ring 1s linear infinite;
		-o-animation: ring 1s linear infinite;
		animation: ring 1s linear infinite;
		z-index: 1;
	}

	&.white {
		&::after {
			box-shadow: 0 1px 0 0 #fff;
		}
	}

	&.large {
		&::after {
			width: 60px;
			height: 60px;
			top: 50%;
			left: 50%;
			margin-left: -30px;
			margin-top: -30px;
			border-radius: 30px;
			box-shadow: 0 3px 0 0 #39CCCC;
		}
	}
}

@-moz-keyframes ring {
	0% {
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-moz-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-ms-keyframes ring {
	0% {
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-webkit-keyframes ring {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-o-keyframes ring {
	0% {
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes ring {
	0% {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

stateful-button {
	&.stateful-button--doing button {
		background-color: grey !important;
		color: white !important;
		box-shadow: none !important;
		cursor: wait !important;
	}

	&.stateful-button--success button {
		background-color: #2ECC40 !important;
		color: white !important;
		box-shadow: none !important;
		cursor: default !important;
	}
}
