* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	font-size: 1rem;
}

html, body {
	height: 100%;
}

body {
	font-family: Lato, Helvetica, Arial, sans-serif;
	font-size: 16px;
}

h1 {
	font-size: 2rem;
	margin: 1rem 0;
}

h2 {
	font-size: 1.5rem;
	margin: 1rem 0;
}

p, ul, ol {
	margin: 0 0 1rem 0;
}

li {
	margin: 0 0 0 1.5rem;
	padding: 0.2rem 0;
}

button {
	background: #39CCCC;
	color: white;
	padding: 0.3rem 0.6rem;
	border-radius: 3px;
	box-shadow: 0px 2px 0px #009999;
	text-transform: uppercase;
	cursor: pointer;
}

button:hover {
	background: #49DDDD;
}

button:active {
	position: relative;
	top: 2px;
	box-shadow: none;
}

button.destructive {
	background: #FF4136;
	box-shadow: 0px 2px 0px #dF2116;
}

button.destructive:hover {
	background: #FF6156;
}

.bird {
	position: fixed;
	z-index: 11;
	transform: scale(1);
	transition: left 1s ease-in, top 1s ease-out, transform 1s;

	&.flying {
		transform: scale(0.5);
	}
}

.cloud {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(230, 230 ,230 ,0.7);
	z-index: 9;
}

.airport {
	position: fixed;
	z-index: 10;
}

.export-bird {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background-color: red;
}