:host {
  display: flex;
  flex-direction: row;
  height: 100%;

  aside {
	  flex: 1 1 30%;
    background: #eee;
    padding: 1rem;
    overflow: auto;
    z-index: 2;
  }

  main {
    flex: 1 1 70%;
    padding: 1rem;
  }

  .error {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.5);

    .message {
      color: #FF4136;
      font-weight: bold;
      font-size: 2rem;
      border-radius: 2px;
      background: white;
      padding: 2rem;
    }
  }
}
